# Path prefix for API routing
VITE_API_ROUTER_URL=/your_app

# Backend API base URL
VITE_API_BACKEND_URL=http://localhost:5001/api      # Replace with your backend URL

# Google OAuth Client ID (from Google Cloud Console)
VITE_GOOGLE_CLIENT_ID=your_google_client_id
