# =====================
# Database Configuration
# =====================
DB_HOST=localhost
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_DEFAULT=postgres           # or mysql, mongodb, etc.
DB_NAME=your_database_name
DB_PORT=5432                  # 5432 (Postgres), 3306 (MySQL)
DATABASE_URL = postgres://username:password@host:5432/dbname   #production


# =====================
# Mail Configuration
# =====================
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password
EXPIRE_TIME=300                     # OTP expiry time in seconds
CRON_EXPIRE_INTERVAL=* * * * *      # Expire OTPs every minute
CRON_DELETE_INTERVAL=* * * * *      # Delete expired OTPs every minute

# =====================
# JWT Configuration
# =====================
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=1d                 # e.g. "1d", "7d", "30m"

# =====================
# Google Sign-In
# =====================
CLIENT_ID=your_google_client_id.apps.googleusercontent.com

# =====================
# Server Configuration
# =====================
PORT=5001
SERVER_IP=0.0.0.0
